<div class='col-sm-4'></div>
<div class='col-sm-4 text-center form-body'>
  <h2 class='text-center'>New General Contractor</h2>
  <%= render 'form', general_contractor: @general_contractor, class: 'text-center'%>
  <br>
</div>
<div class='col-sm-4'></div>
