<%= render template: 'home/index' %>

<% flash.each do |key, value| %>
<div class='row'>
  <div class='col-sm-4'></div>
  <div class='col-sm-4 text-center'>
    <p id='notice' class='alert alert-<%= key %>'><%= value %></p>
  </div>
  <div class='col-sm-4'></div>
</div>
<% end %>

<div class='col-sm-4'></div>
<div class='col-sm-4 text-center form-body'>
  <h2 class='text-center'>Renovation Project</h2>
  <%= render 'form', renovation_projects: @renovation_projects, class: 'text-center'%>
  <br>
</div>
<div class='col-sm-4'></div>

